body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
}

#header a {
    color: #c4c4c4;
}

.navbar-menu .navbar-nav .nav-link {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

#hero-login {
    transition: all 0.5s;
    height: 100%;
    margin-bottom: 110px;
    position: relative;
}

#hero-login .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#hero-login .title-bar {
    padding-top: 12%;
    padding-bottom: 2%;
}

#hero-login .title-bar h2 {
    display: block;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.log-in {
    padding-top: 5%;
}

.btn-login {
    font-size: 20px;
    background-color: #ef9c23;
    border-color: #ef9c23;
    top: -30px;
    border: 50%;
    border-radius: 15px;
    height: 55px;
    color: #fff;
    width: 100%;
}

.log-in h5 {
    text-align: center;
    margin-top: 5%;
}

.log-in h5 a {
    font-size: 20px;
    color: #ef9c23;
    text-decoration: none;
}

.log-in h6 {
    text-align: center;
    margin-top: 5%;
}

.log-in h6 a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.log-in h6 a span {
    font-size: 20px;
    color: #ef9c23;
}

.form-group .form-control {
    height: 50px;
    border: 50%;
    border-radius: 15px;
}

.form-group #inputEmail {
    margin-bottom: 20px;
}

.form-group {
    margin: 0;
}

.form-check {
    margin-right: 100px;
    margin-bottom: 20px;
    font-size: 17px;
}

.form-check .form-check-label span a {
    color: #ef9c23;
}

#mybutton {
    position: relative;
    left: 90%;
    top: -35px;
    cursor: pointer;
}

.notifikasi-login {
    margin-bottom: 20px;
    background-color: #ffb5b5;
    border: 50%;
    border-radius: 15px;
    height: 55px;
    color: #fff;
    width: 100%;
}

.notifikasi-login h2 {
    padding: 18px;
    font-size: 18px;
    color: #993e3e;
    width: 100%;
}

.slider {
    width: 40rem;
}

.banner img {
    padding: 10%;
    display: block;
    width: 100%;
    height: auto;
}

.banner h1 {
    font-weight: 700;
    text-align: center;
}

.banner p {
    text-align: center;
}

.slick-dots {
    bottom: -40px;
}

.slick-dots li button:before,
li.slick-active button:before {
    color: #000000;
}

.slick-dots li button:before {
    background-color: transparent;
    border-radius: 20%;
    display: inline-block;
    height: 8px;
    width: 30px;
}

.slick-dots li.slick-active button:before {
    background-color: #ef9c23;
    top: 25%;
    color: transparent;
}


/* Bagian Kanan */

.log-in .register-cek {
    width: 390px;
}

.log-in .title-register-cek {
    color: #3A372F;
    font-weight: bold;
}

.email-user {
    color: #5E5648;
    font-weight: bold;
}

.btn-masuk {
    font-size: 20px;
    height: 55px;
    color: #fff;
    width: 100%;
    background: #EF9C23;
    border: 1px solid #EF9C23;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 13px;
    font-weight: 700;
}

.btn-masuk-browser {
    font-size: 20px;
    height: 55px;
    color: #3A372F;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F8F2EE;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
    border-radius: 13px;
    font-weight: 700;
}


/* End Bagian Kanan */


/* Register 4 */

#hero-register.selamat {
    margin: 70px auto;
}

.img-register img {
    width: 415px;
    height: 120px;
}


/* End Register 4 */


/* Lupa */

.log-in .par-lupa {
    color: #5E5648;
}

.log-in .link-masuk {
    margin: 10px auto;
    font-size: 20px;
    color: #EF9C23;
    font-weight: bold;
    text-decoration: none;
}


/* End Lupa */

#footer {
    position: relative;
    background-color: #f3f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    bottom: 0;
    text-align: center;
}

#footer .logo {
    padding-left: 10%;
}

#footer .logo .icon {
    padding-left: 2%;
    padding-right: 2%;
}

#footer .row h4 {
    font-size: 20px;
    font-weight: bold;
    color: #c4c4c4;
}